.shop-header {
    background-image: url("../images/happyash.jpeg");
    background-size: cover; 
    background-position: center; 
    height: 87vh; 
    color: white; 
}

.shop-stats {
    color: white; 
}